.title {
    font-size: 20pt;
}

.movie-details-box {
    margin-left: 5px;
    float: left;
    width: 28%;
    display: inline-block; /* Change to inline-block */
    vertical-align: top; /* Align the boxes vertically */
    box-sizing: border-box; /* Include padding and border in width */
    padding: 0px;
    text-align: left;
    border-radius: 10px;
}

.movie-details {
    width: 100%; /* Make the image take up the full width of its container */
    display: block;
    margin-left: 12px;
}

.second_title {
    width: 93%;
    padding: 15px;
    border-radius: 10px;
}

.movie_info {
    width: 94%;
    background-color: #9db4c0;
    color: #1f1f2e;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}



.image-section {
    margin: 10px;
    width: 40%;
    float: left; /* Float the image to the left */
}

.image-section img {
    width: 100%;
    height: auto; /* This ensures the image maintains its aspect ratio */
    max-height: 450px; /* Set the maximum height as desired */
    display: block;
}

.movie-details {
    float: right; /* Float the review section to the right */
    width: 50%;
    margin: 10px;
    font-size: 30pt;
}

p {
    font-size: 30pt;
}

ul {
    list-style-type: none;
    }

.review-section {
    padding: 10px;
    width: 60%; /* Center the details section */
    clear: both; /* Clear the floats */
}

.review-section {
        clear: both; /* Clear the float to prevent layout issues */
    }

.review{
    font-size: 18px;
    }

.edit-delete-container{
    display: flex;
    width: 0px; /* Adjust the width to match the button's width */
    height: 35px; /* Adjust the height to match the button's height */
    margin-top: 30px; /* Increased top margin */
    margin-bottom: 60px;
}

.edit-button{
    margin-right: 10px; /* Adjust the value to add space between buttons */
    background-color: #880044;
    opacity: 0.9; /* Slightly increased opacity */
    color: #00CC99;
    padding: 4px 10px; /* Slightly larger padding */
    border: 1px solid #474747; /* Add a subtle border */
    border-radius: 3px;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth color transition */
}

.delete-button{
    background-color: #880044;
    opacity: 0.9; /* Slightly increased opacity */
    color: #00CC99;
    padding: 4px 10px; /* Slightly larger padding */
    border: 1px solid #474747; /* Add a subtle border */
    border-radius: 3px;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth color transition */
}

.edit-button button:hover {
  background-color: #DD1155; /* Darker background on hover */
}

.delete-button button:hover {
  background-color: #DD1155; /* Darker background on hover */
}