<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users - MovieWeb App</title>
    <link rel="stylesheet" href="/static/users_list_style.css">
    <link rel="stylesheet" href="/static/main_style.css">
</head>
<body>
    <div class="user-title">
        <h1>List of Users</h1>
    </div>
    <div class="users-list">
        <ul>
            {% for user in users %}
            <li>
                {% if current_user.is_authenticated and user['id'] == current_user.id %}
                <a href="{{ url_for('list_user_movies', user_id=user['id']) }}">
                    <span class="user-name">{{ user['name'] }}</span></a>
                {% else %}
                <a href="{{ url_for('login', username=user['name']) }}">{{ user['name'] }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="buttons-bar">
    <div class="buttons-container">
        <a href="{{ url_for('add_user') }}">
            <button>Sign up</button>
        </a>
        <a href="{{ url_for('home') }}">
            <button>Back to Homepage</button>
        </a>
    </div>
    <footer>
        <p>&copy; 2023 Dare Salisu. All rights reserved.</p>
    </footer>
</div>
</body>
</html>
