<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user_movie_style.css') }}">
</head>
<body>
    <div>
        <ol>
            {% for movie in movies %}
            <li>
                <div class="movie-title">{{ movie['title'] }} - {{ movie['year'] }} - {{ movie['director'] }}</div>
            </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>